/* 
    Created on : Mar 25, 2018, 1:01:31 PM
    Author     : Dragana Poznan
font-family: 'Open Sans', sans-serif;
*/
body{
    font-size: 14px;
    overflow-x: hidden;
    color: #65676d;
}
i,h6{
    color: #000;
}
option,p,li,li a,a,label{
    font-size: 14px;
}
.banner{
    background-color: #2e2828;
    text-align: center;
}
.project-category img,
.banner img{
    margin-top: 12%;
}
.project-investment img{
    margin: 6% auto;
    display: block;
}
.project-investment,
.project-category{
    text-align: center;
}
/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* form example */
.formBox{
    margin-top: 90px;
    padding: 50px;
}
.formBox  h1{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 48px;
}
.inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.inputBox .inputText{
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
    margin-top: -18px;
}
.inputBox .input{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.focus .inputText{
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #00bcd4;
}
textarea{
    height: 100px !important;
}
.button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}
/* forms */
.inputBox .inputText{
    line-height: 1.6;
    font-size: 20px;
}
/* javni poziv */
.javni-poziv{
    padding-top: 60px;
}
.javni-poziv select label,
.javni-poziv select option{
    font-size: 14px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(4.25rem + 2px);
    font-size: 16px;
}
/* Dashboard */
.sidebar ul{
    width: 100%;
}
/* Nav **/
.navbar-nav.ml-auto{
    float: right;
}
/* Final css */
/*font-family: 'Noto Serif', serif;*/
#navbarSupportedContent ul li a{
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    font-weight: 700;
}
.navbar-brand>img{
    width: 60px;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #5b0c0c;
}

/* slider */
h3.h3{text-align:center;padding:1.5em 0em;text-transform:capitalize;font-size:1.5em;}
/******************  News Slider Demo-1 *******************/
.post-slide{
    overflow: hidden;
    margin-right: 15px;
    background-color:#fff !important;
}
.post-slide .post-img {
    float: left;
    width:50%;
    position: relative;
    margin-right: 30px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
}
.post-slide .post-date{
    background: #ec3c6a;
    color:#fff;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 2% 3%;
    width: 60px;
    height: 60px;
    text-align: center;
    transition:all 0.50s ease;
}
.post-slide .date{
    display: block;
    font-size:20px;
    font-weight: 700;
}
.post-slide .month{
    display: block;
    font-size:11px;
    text-transform: uppercase;
}
.post-slide .post-review {
    padding: 5% 3% 1% 0;
    border-top: 3px solid #38cfd8;
}
.post-slide:hover .post-review{
    border-top-color:#ec3c6a;
}
.post-slide .post-title{
    margin:0 0 10px 0;
}
.post-slide .post-title a{
    font-size:14px;
    color:#333;
    text-transform:uppercase;
}
.post-slide .post-title a:hover{
    text-decoration:none;
    font-weight: bold;
}
.post-slide .post-bar{
    padding:0;
    list-style:none;
    text-transform:uppercase;
    position: relative;
    margin-bottom: 20px;
}
.post-slide .post-bar:after,
.post-slide .post-bar:before{
    border: 1px solid #38cfd8;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
    right: 36%;
    width: 25px;
}
.post-slide .post-bar:before{
    border: 1px solid #ec3c6a;
    right: 32%;
}
.post-slide .post-bar li{
    color:#555;
    font-size:10px;
    margin-right:10px;
    display:inline-block;
}
.post-slide .post-bar li a{
    font-size: 13px;
    text-decoration:none;
    text-transform:uppercase;
    color:#ec3c6a;
}
.post-slide .post-bar li a:hover{
    color:#ec3c6a;
}
.post-slide .post-bar li i{
    color:#777;
    margin-right:5px;
}
.post-slide .post-description{
    font-size:12px;
    line-height:21px;
    color:#444454;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    border: 2px solid #37a6a4;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #37a6a4;
}
@media only screen and (max-width: 990px) {
    .post-slide .post-img {
        width:100%;
    }
    .post-slide .post-review{
        width:100%;
        border-bottom: 4px solid #ec3c6a;
    }
    .post-slide .post-bar:before{
        left: 0;
    }
    .post-slide .post-bar:after{
        left: 25px;
    }
}

/******************  News Slider Demo-9 *******************/
.post-slide9{
    margin: 0 10px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide9 .post-img{
    overflow: hidden;
    position: relative;
}
.post-slide9 .post-img img{
    width: 100%;
    height:auto;
    transform: scale(1,1);
    transition: all 0.30s ease 0s;
}
.post-slide9:hover .post-img img{
    transform: scale(1.2,1.2);
}
.post-slide9 .over-layer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0;
    text-align:center;
    background:rgba(68, 67, 64,0.9);
    transition: all 0.50s linear;
}
.post-slide9:hover .over-layer{
    opacity:1;
}
.post-slide9 .post-link{
    padding:0;
    margin:0;
    list-style:none;
    position: relative;
    top:45%;
}
.post-slide9 .post-link li{
    display: inline-block;
    margin-right:10px;
}
.post-slide9 .post-link li a{
    width: 60px;
    height: 60px;
    line-height: 59px;
    border-radius: 50%;
    color:#fff;
    background:#333;
    font-size:20px;
    transform: scale(1,1);
    transition: all 0.20s linear;
}
.post-slide9 .post-link li a:hover{
    text-decoration:none;
    transform: scale(1.1,1.1);
}
.post-slide9 .post-review{
    padding: 15px 0;
    overflow: hidden;
}
.post-slide9 .post-title{
    margin-top: 0;
}
.post-slide9 .post-title a{
    display: block;
    color: #333;
    font-size: 18px;
    text-align:center;
    font-weight: bold;
    text-transform:uppercase;
    transition: all 0.50s ease 0s;
}
.post-slide9 .post-title a:hover{
    text-decoration: none;
    color:#1f80bb;
}
.post-slide9 .post-info{
    list-style:none;
    padding:10px 0 0 0;
    margin:0 0 7px 0;
    text-align:center;
    border-top:1px solid #d3d3d3;
}
.post-slide9 .post-info li{
    display: inline-block;
    margin-right: 13px;
}
.post-slide9 .tag-info{
    margin:0;
    padding:0 0 10px 0;
    text-align:center;
    border-bottom:1px solid #d3d3d3;
}
.post-slide9 .tag-info li{
    list-style:none;
    display: inline-block;
}
.post-slide9 .tag-info li a{
    color:#808080;
    text-transform:capitalize;
}
.post-slide9 .tag-info li a:hover{
    color:#1f80bb;
    text-decoration:none;
}
.post-slide9 .post-description{
    color: #828282;
    font-size: 14px;
    padding:5px 25px;
    line-height: 25px;
}
.post-slide9 .read-more{
    color:#333;
    float: right;
    font-weight: bold;
    margin-right:25px;
    text-transform:capitalize;
}
.post-slide9 .read-more:hover{
    color:#1f80bb;
    text-decoration:none;
}
.owl-theme .owl-buttons div{
    position:relative;
    border-radius: 0;
    background:#807b87;
    padding: 7px 15px;
    transition: all 0.5s ease 0s;
}
.owl-theme .owl-buttons .owl-prev{
    position: absolute;
    left: 0;
    top: 50%;
    opacity:0;
    transition: all 0.50s linear;
}
.owl-carousel:hover .owl-buttons .owl-prev{
    opacity: 1;
    left:-30px;
}
.owl-theme .owl-buttons .owl-next{
    position: absolute;
    right: 0;
    top: 50%;
    opacity:0;
    transition: all 0.50s linear;
}
.owl-carousel:hover .owl-buttons .owl-next{
    opacity: 1;
    right:-30px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    color: #fff;
}
.owl-next:before{
    content: "\f054";
}
@media only screen and (max-width: 990px) {
    .post-slide9 .post-info li { margin-right: 5px; }
    .owl-theme .owl-buttons div{ display:none; }
}
@media only screen and (max-width: 767px) {
    .post-slide9 .post-link li a{
        width: 40px;
        height: 40px;
        line-height: 39px;
        font-size:13px;
    }
    .post-slide9 .post-title a{
        font-size:14px;
    }
}

/* header */
.navbar.navbar-expand-md.navbar-light.navbar-laravel{
    border-bottom: 1px solid #adb0b5;
    padding-bottom: 20px;
}
.container .jumbotron.text-center{
    padding: 0;
}
.owl-prev:before, .owl-next:before{
    color: transparent;
}
.jumbotron{
    background-color: transparent;
}
/* footer */
footer{
    float: left;
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid #1f80bb;
}
.footer-copyright.text-center.py-3{
    float: left;
    width: 100%;
    border-top: 1px solid #1f80bb;
}
/* available projects */
.available-projects{
    padding-top: 40px;
}
.available-projects ul{
    list-style-type: decimal;
}
.available-projects li{
    font-size: 26px;
    float: left;
    width: 100%;
    text-align: left;
}
.available-projects a{
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #7a839b;
}
.available-projects li a,
.available-projects li small,
.available-projects li hr{
    float: left;
    width: 100%;
}
.available-projects h2{
    margin-bottom: 40px;
}
/* Show upit */
.show-upit h2{
    margin-bottom: 60px;
}


